{% extends 'base.html' %} {% load static %} 

{% block title %}
Details
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cats/stamp-detail.css' %}" />
{% endblock %} 

{% block content %}
<section class="stamp-container">
    <div class="stamp-actions">
        <a href="{% url 'stamp-index' %}" class="btn">Back to Stamps</a>
    </div>
    <div class="stamp-details">
        <h2> {{ stamp.get_name_display }} 
        {% if stamp.days > 1 %}
        for {{ stamp.days }} days 
        {% else %}
        for {{ stamp.days }} day 
        </h2>
        {% endif %}
        <h1>{{ stamp.get_season_display }}, {{ stamp.year }} </h1>
        <h3>{{ stamp.description }}</h3>
        <div class="stamp-actions">
            <a href="{% url 'stamp-update' stamp.id %}" class="btn warn">Edit</a>
            <a href="{% url 'stamp-delete' stamp.id %}" class="btn danger">Delete</a>
        </div>
    </div>
</section>

<div class="stamp-details-container">
  <section class="stops">

    <div class="subsection-title">
      <h2>Stops</h2>
    </div>

    <h3>Add a Stop</h3>
        <form action="{% url 'add-stop' stamp.id %}" method="post" class="subsection-content" autocomplete="off">
            {% csrf_token %} 
            {{ stop_form.as_p }}
            <button type="submit" class="btn submit">Add Stop</button>
        </form>

    <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Date</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for stop in stamp.stop_set.all %}
          <tr>
            <td>{{stop.name}}</td>
            <td>{{stop.date}}</td>
            <td>{{stop.get_rating_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
</div>
{% endblock %}
