{% extends 'base.html' %} {% load static %} 

{% block title %}
Details
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stamps/stamp-detail.css' %}" />
{% endblock %} 

{% block content %}
<section class="stamp-container">
    <div class="stamp-actions">
        {% if stamp.user == request.user %}
        <a href="{% url 'stamp-index' %}" class="btn">Back to Your Stamps</a>
        {% else %}
        <a href="{% url 'all-stamp-index' %}" class="btn">Back to All Stamps</a>
        {% endif %}
    </div>
    <div class="stamp-details">
        <h2> {{ stamp.get_name_display }} 
        {% if stamp.days > 1 %}
        for {{ stamp.days }} days 
        {% else %}
        for {{ stamp.days }} day 
        {% endif %}
        </h2>
        <h1>{{ stamp.get_season_display }}, {{ stamp.year }} </h1>
        <h3>{{ stamp.description }}</h3>
        <div class="stamp-actions">
          {% if stamp.user == request.user %}
            <a href="{% url 'stamp-update' stamp.id %}" class="btn warn">Edit</a>
            <a href="{% url 'stamp-delete' stamp.id %}" class="btn danger">Delete</a>
          {% endif %}
        </div>
    </div>
</section>

<div class="stamp-details-container">
  <section class="stops">

    {% if stamp.user == request.user %}
    <a href="{% url 'stop-create' stamp.id %}" class="btn">Add a Stop</a>
    {% endif %}
    
    <div class="subsection-title">
      <h2>Past Stops</h2>
    </div>
    {% if stamp.stop_set.all.count %}
    <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Date</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for stop in stamp.stop_set.all %}
          <tr>
            <td>{{stop.name}}</td>
            <td>{{stop.date}}</td>
            <td>{{stop.get_rating_display}}</td>
            {% if stamp.user == request.user %}
            <td><a href="{% url 'stop-update' stamp.id stop.id %}" class="btn warn">Edit</a></td>
            <td><a href="{% url 'stop-delete' stamp.id stop.id %}" class="btn danger">Delete</a></td>
            {% endif %}
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3> No stops added yet! </h3>
    {% endif %}
  </section>
</div>
{% endblock %}
